:root{
--logo-color: #212121;
--light-logo-color: #ffffff;
--header-color: #212121;
--accent-color: #2196F3;
--filter-accent-color: #ffffff;
--filter-accent-background-colod: #2196F3;
--light-background-color: #ffffff;
--dark-background-color: #2F303A;
--gray-background-color: #F5F4FA;
--title-color: #212121;
--text-color: #757575; 
--main-title-color: #ffffff;
--team-background-color: #ffffff;
--team-text-color: #757575;
--contacts-color: #757575;
--address-color: #ffffff;
--filrer-text-color: #212121;
--filter-background-color:#F5F4FA;
--portfolio-name-color: #212121;
--portfolio-project-class-color:#757575;


}
body{
font-family: 'Roboto', sans-serif;
color: #212121;
}
.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
button{
    cursor: pointer;
}
/*--------HEADER-----------*/
.header{
    background-color:var(--light-background-color);
}
.header-logo{
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-color);
}
.logo-span{
    color: #2196F3;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--header-color)
}
.header-link:hover {
    color: var(--accent-color);
}
.header-contact-mail,
.header-contact-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--contacts-color);
}
.header-contact-mail:hover{
    color:var(--accent-color)
}.header-contact-tel:hover{
    color:var(--accent-color)
}
/*----------FOOTER---------*/
.footer{
    background-color: var(--dark-background-color);
}
.footer-logo{
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--light-logo-color);
}
.footer-map{
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--address-color)
}
.footer-mail,
.footer-tel{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


/*---------HERO--------*/
.hero{
    background-color: var(--dark-background-color);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color:var(--main-title-color)
}
.hero-button{
font-weight: bold;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: #ffffff;
background-color: #2196F3;
}
/*---------ABOUT----------*/
.about{
background-color: var(--light-background-color);
}
.about-title{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--title-color);
}
.about-text{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}
/*----------WORK----------*/
.work{
    background-color: var(--light-background-color);
}
.work-title{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-color);
}
/*---------TEAM------------*/
.team{
    background-color: var(--gray-background-color);
}
.team-title{
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
}
.team-item{
    background-color: var(--team-background-color);
}
.team-people{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-color);
}
.team-position{
font-weight: normal;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--team-text-color);
}

/*--------------------PORTFOLIO-------------------*/

.filter{
    background-color: var(--light-background-color);
}


.filter-button{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
color:var(--filrer-text-color);
background-color: var(--filter-background-color);
}
.filter-button:hover{
color: var(--filter-accent-color);
background-color: var(--filter-accent-background-colod);
}
.portfolio{
    background-color: var(--light-background-color);
}
.portfolio-item{
    background-color: var(--light-background-color);
}
.portfolio-project-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--portfolio-name-color);
}
.portfolio-project-class{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--portfolio-project-class-color);
}

